// @import '../fonts/Gilroy/stylesheet.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import './common.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: inherit;
}

body {
    background: var(--color-theme-background);
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    padding-top: var(--ides-header-height);
    padding-left: var(--ides-sidebar-width);

    &-wrapper {
        padding: 1.5rem;

        & > * {
            margin-bottom: 1.5rem;
        }
    }
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

h3 {
    font-size: 1.125rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
}

svg {
    width: 1rem;
    height: 1rem;
}
