* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: var(--clr-theme-background);
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    padding-top: var(--ides-header-height);
    padding-left: var(--ides-sidebar-width);
}
